{% extends "base.html" %}
{% block title %}🗑️ Удалить отделение{% endblock %}

{% block content %}
<div class="container mt-4">
  <h2 class="mb-4">🗑️ Удалить отделение</h2>
  <p>Вы уверены, что хотите удалить отделение <strong>{{ object.name }}</strong> из учреждения <strong>{{ object.institution.name }}</strong>?</p>
  
  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Удалить</button>
    <a href="{% url 'admim_custom:departments' %}" class="btn btn-secondary">Отмена</a>
  </form>
</div>
{% endblock %}
